%h1{:style => "margin-top:50px;"}
  New article
%br

= simple_form_for @article do |f|
  = f.input :header
  = f.input :body, as: :text
  = f.input :video_link
  = f.submit

:javascript
  var simplemde = new SimpleMDE({ element: document.getElementById("article_body") });
